/* importing font*/
@font-face {
    font-family: "ThisAppeal";
    src: url("../assets/fonts/ThisAppeal-FreeDemo.ttf") format("truetype");   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("../assets/fonts/Louis George Cafe.ttf") format("truetype");   
    font-weight: normal;
    font-style: normal;
}


/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body with background image */
body {
    background: url("../assets/images/mainbg.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
}

/* Top navigation bar */
.topbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #000000;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

/* Logo styling */
.logo img {
    height: 50px;
}

.logo {
    margin-right: 50px;
}

/* Navigation menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    font-family: "ThisAppeal", sans-serif;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 32px;
    
}

nav ul li a:hover {
    color: #4e4e4e; /* highlight color */
}

nav ul li a.active {
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}

/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    text-align: left;
    font-family: "Louis George Cafe", serif;
    background: rgba(255, 255, 255, 0.521);
    position: absolute;
    top: 50%;
    right: 100px;
    border-radius: 10px;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}



@keyframes myAnimation {
    0% { transform: translateY(calc(-50% + 200px)); }
    100% { transform: translateY(-50%); }
}

.hero h1 {
    color: black;
    font-size: 50px;
    padding: 20px;
}

.hero ul {
      color: black;
    font-size: 30px;
    padding: 20px;
}